name: CI
on:
  push:
    tags-ignore:
      - "v*"
  pull_request:
    tags-ignore:
      - "v*"

jobs:
  check:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v1

      - uses: actions/setup-go@v1
        with:
          go-version: 1.12

      - run: make test

      - run: make format

      - uses: grandcolline/golang-github-actions@v1.1.0
        with:
          run: lint
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set GOPATH
        run: |
          echo "##[set-env name=GOPATH;]$(dirname $GITHUB_WORKSPACE)"
          echo "##[add-path]$(dirname $GITHUB_WORKSPACE)/bin"

      - run: go get github.com/GeertJohan/go.rice/rice

      - run: make release
