name: CI
on: [push, pull_request]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1

    - uses: actions/setup-go@v1
      with:
        go-version: 1.12

    - run: make test

    - run: test -z $(gofmt -l .)

    - uses: grandcolline/golang-github-actions@v1.1.0
      with:
        run: lint
        token: ${{ secrets.GITHUB_TOKEN }}

    - run: |
        go get github.com/GeertJohan/go.rice
        go get github.com/GeertJohan/go.rice/rice

    - run: make release
